.quote.quote--main-style(data-component="run__line--third")
    p.quote__item.--animation--run-line 
        span Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit sed exercitationem blanditiis iste eveniet porro nemo dignissimos voluptatibus 