footer.footer
//script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
//script(src="./src/js/vendor/slick.min.js")
//script(src="./src/js/app.js")
script(src="//cdn.jsdelivr.net/npm/vivus@latest/dist/vivus.min.js")
script(src="./src/js/js.js")