
-var image_path = "../static/img/"
-var image_path__svg = "./static/img/svg/"
-
    const main_links = [
        {   
            'number':'1',
            'href': './test_projects-colour/',
            'item_name': 'colour',
        },
        {   
            'number':'2',
            'href': './projects/andrew/home_service/',
            'item_name': 'Mary Jane',
        },
    ]

