%Poppins__r {
	font-family: $font-family__main;
	font-style: $font-style__normal;
	font-weight: $font-weight__regular;
}

%Poppins__m {
	font-family: $font-family__main;
	font-style: $font-style__normal;
	font-weight: $font-weight__medium;
}

%Poppins__sb {
	font-family: $font-family__main;
	font-style: $font-style__normal;
	font-weight: $font-weight__semi-bold;
}

%Poppins__b {
	font-family: $font-family__main;
	font-style: $font-style__normal;
	font-weight: $font-weight__bold;
}
