extends templates/layout

block main
    block intro
    include ./includes/intro.pug
    
    block specialized
    include ./includes/specialized.pug

    block video
    include ./includes/video.pug

    block companies
    include ./includes/companies.pug

    block cleaning
    include ./includes/cleaning.pug

    block services
    include ./includes/services.pug

    block services_modal
    include ./includes/modal_services.pug

    block book
    include ./includes/book.pug

    block contact-form
    include ./includes/contact-form.pug

    block reviews
    include ./includes/reviews.pug

    block subscribe
    include ./includes/subscribe.pug

    block modal_video
    include ./includes/modal_video.pug