.book-container 
    .container_sm 
        .book-content 
            p If you are looking for a reliable and professional air conditioning service provider, then look no further! Our team of experienced technicians is here to provide you with the best air conditioning services for both domestic and commercial purposes.
            a(href="#",data-scroll="#contact-form") Book Now