.cleaning
  .container_sm
    .cleaning__wrapper
      .cleaning__el(data-skick-el="0", data-scroll="#services")
        h3 Apartment Cleaning
        p Get <b>30% OFF</b> in Apartment Cleaning Services
        img(src="https://via.placeholder.com/472x485/", alt="")
        //img(src=image_path + "cleaning1.png", alt="")
      .cleaning__el(data-skick-el="1", data-scroll="#services")
        h3 Detailed Cleaning
        p Get <b>30% OFF</b> in Detailed Cleaning Services
        img(src="https://via.placeholder.com/472x485/", alt="")
        //img(src=image_path + "cleaning2.png", alt="")
      .cleaning__el(data-skick-el="2", data-scroll="#services")
        h3 Holiday Cleaning
        p Get <b>30% OFF</b> in Holiday Cleaning Services
        img(src="https://via.placeholder.com/472x485/", alt="")
        //img(src=image_path + "cleaning3.png", alt="")