.companies
  .container_sm
    .companies_content
      p Trusted by thousands of companies
      img(src="https://via.placeholder.com/842x30", alt="")
      //img(src=image_path + "companies.png", alt="")