.modal#modal-video
  .modal__dialog
    button.modal__close(type="button" data-close-modal="close")
      svg.svg-close_icon
          use( xlink:href= image_path__svg + "sprite.svg#" + "svg_close_icon")
    .modal__video
      iframe(  src="https://www.youtube.com/embed/VHDQLuzfYnw" title="YouTube video player" frameborder="0" allow="clipboard-write; encrypted-media; web-share" allowfullscreen)