.modal#modal-services
  .modal__dialog
    button.modal__close(type="button" data-close-modal="close")
      svg.svg-close_icon
          use( xlink:href= image_path__svg + "sprite.svg#" + "svg_close_icon")
    .modal-services
       div(data-skick="services--modal")
        .modal-services__slider__el
          h3
          div
          //
            p Mary Jane® is proud to offer a program specifically designed to serve residents of apartments, condominiums, and other small spaces. 
            p Our Mary Jane® for Small Spaces service offers customized pricing to groups of residents in the same apartment complex who register for weekly or bi-weekly service. Customers who start service through this program will receive a discount applied to their "first-time-in" service fee. Our experienced cleaning professionals will clean your apartment space from top to bottom, including ceiling fans, baseboards, under furniture, mirrors and windows, pictures and other wall art. 
            p We understand that dirt, germs, and grime can find their way into countless corners and spaces that are hidden out of sight and we have the processes and techniques to bring the shine and sparkle to every inch of your apartment or condo.
        .modal-services__slider__el
          h3
          div
          //
            p Mary Jane® is proud to offer a program specifically designed to serve residents of apartments, condominiums, and other small spaces. 
            p Our Mary Jane® for Small Spaces service offers customized pricing to groups of residents in the same apartment complex who register for weekly or bi-weekly service. Customers who start service through this program will receive a discount applied to their "first-time-in" service fee. Our experienced cleaning professionals will clean your apartment space from top to bottom, including ceiling fans, baseboards, under furniture, mirrors and windows, pictures and other wall art. 
            p We understand that dirt, germs, and grime can find their way into countless corners and spaces that are hidden out of sight and we have the processes and techniques to bring the shine and sparkle to every inch of your apartment or condo.
        .modal-services__slider__el
          h3
          div
          //
            p Mary Jane® is proud to offer a program specifically designed to serve residents of apartments, condominiums, and other small spaces. 
            p Our Mary Jane® for Small Spaces service offers customized pricing to groups of residents in the same apartment complex who register for weekly or bi-weekly service. Customers who start service through this program will receive a discount applied to their "first-time-in" service fee. Our experienced cleaning professionals will clean your apartment space from top to bottom, including ceiling fans, baseboards, under furniture, mirrors and windows, pictures and other wall art. 
            p We understand that dirt, germs, and grime can find their way into countless corners and spaces that are hidden out of sight and we have the processes and techniques to bring the shine and sparkle to every inch of your apartment or condo.
            




