.reviews__container#reviews
    .container_r
      .reviews__heading
        h2 Reviews
      .reviews-slider(data-skick="reviews")
      //
        .reviews-slide
          .reviews-slide__left-col
            img(src="https://placehold.co/654x654", alt="")
          .reviews-slide__right-col
            p.reviews-slide__content I always get a friendly, personal reception from both Mary Jane and his staff. When I needed multiple services but had maxed out my insurance, Mary Jane worked with me to identify the worst problem and work out a plan for the rest. Excellent, caring work. I highly recommend Mary Jane and his team.
            p.reviews-slide__autor Aurora J.
        .reviews-slide
          .reviews-slide__left-col
            img(src="https://placehold.co/654x654", alt="")
          .reviews-slide__right-col
            p.reviews-slide__content I always get a friendly, personal reception from both Mary Jane and his staff. When I needed multiple services but had maxed out my insurance, Mary Jane worked with me to identify the worst problem and work out a plan for the rest. Excellent, caring work. I highly recommend Mary Jane and his team.
            p.reviews-slide__autor Aurora J.
