.services#services
  .container_r
    .services_text
      h2 Our Services
      p We provide best and high quality professional services for commercial and residential space.
    .services__slider(data-skick="services")
      .services__slider__el
        .services__slider__content
          h4 
            // Enhanced Disinfection Services
          p 
            // At Mary Jane, we’re experts in creating clean and healthy homes.
      .services__slider__el
        .services__slider__content
          h4 
            //House Cleaning Services
          p 
            //At Mary Jane, we’re experts in creating clean and healthy homes. 
      .services__slider__el
        .services__slider__content
          h4 
            //Housekeeping Services from a Trustworthy & Reliable Team
          p 
            // At Mary Jane, we’re experts in creating clean and healthy homes. 
