section.specialized#about_us
    .specialized__inner
        h2  When you trust your home to the cleaning crews at <b> Mary Jane®</b>, you can count on:
        ul
            li 40 years of experience
            li Licensed, bonded, and insured professionals
            li Guaranteed satisfaction
            li Free cleaning estimates
        ul
            li Time-tested techniques
            li Specialized cleaning products
            li Advanced technology