.video-section
  .container_sm
    .video-wraper(data-modal="modal-video")
      img(src="https://via.placeholder.com/1526x600/",  alt='')
      //img(src=image_path + "video__preview.png", alt="")
      svg.video__play-btn
        use(xlink:href= image_path__svg+"sprite.svg#svg_video__play-btn")